src/main/app/mule_fundamentals_1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8001" doc:name="HTTP Listener Configuration"/>
    <flow name="mule_fundamentals_1Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <expression-filter expression="#[message.payload!='favicon.ico']" doc:name="removeFavicon"/>
        <set-variable variableName="language" value="#[message.inboundProperties.'http.query.params'.language]" doc:name="setVariable"/>
        <choice doc:name="choosePath">
            <when expression="#[flowVars.language.trim()=='Spanish']">
                <set-payload value="Buenos d&#237;as" doc:name="Spanish morning greeting"/>
            </when>
            <when expression="#[flowVars.language.trim()=='English']">
                <set-payload value="Morning all!" doc:name="English morning greeting"/>
            </when>
            <otherwise>
                <set-variable variableName="language" value="default value" doc:name="default Variable"/>
                <set-payload value="Bonjour!" doc:name="French morning greeting"/>
            </otherwise>
        </choice>
        <logger message="The reply '#[message.payload]' means 'Good morning!' in '#[flowVars.language]'" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
